<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <tr th:each="u: ${users}">
        <td>
            <div style="display: flex;">
                <form th:method="post" th:action="@{/user/update/{id}(id=${u.id})}" th:object="${user}">
                    <label>Name</label>
                    <input type="text" name="name" th:value="${u.name}">
                    <label>Surname</label>
                    <input type="text"  name="surname" th:value="${u.surname}">
                    <label>Age</label>
                    <input type="text" name="age" th:value="${u.age}">
                    <input type="submit" value="update">

                </form>
                <form th:method="post" th:action="@{/user/delete/{id}(id=${u.id})}">
                    <input type="submit" value="delete">
                </form>
            </div>
        </td>
    </tr>

    <form th:method="post" th:action="@{/user/add}" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <label for="surname">Surname</label>
        <input type="text" th:field="*{surname}" id="surname">
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age">

        <input type="submit" value="add">
    </form>
</div>
</body>
</html>